/* Banner Styles */
.banner {
    position: relative;
    min-height: 448px;
    color: white;
    padding: 20px;
    overflow: hidden;
    background-size: contain; /* Ensure the entire image fits within the container */
    background-position: top; /* Align the image to the top */
    background-repeat: no-repeat;
}


.banner-contents {
    position: absolute;
    top: 50%;  /* Centers vertically */
    left: 20px;
    transform: translateY(-50%); /* Ensures the contents are vertically centered */
    z-index: 1;
    max-width: 500px;
}

.banner-title {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.1;
    padding-bottom: 20px;
    max-width: 600px;
}

.banner-buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.banner-button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.banner-button.play {
    background-color: #e50914;
    color: white;
}

.banner-button:hover {
    opacity: 0.8;
}

.banner-description {
    font-size: 1.1rem;
    font-weight: 400;
    width: 90%;
    max-width: 600px;
    padding-top: 10px;
    line-height: 1.3;
}

.banner-fadebottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 15rem;
    background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.7));
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .banner {
        min-height: 350px;  /* Reduced height for smaller screens */
    }

    .banner-contents {
        left: 10px;
        top: 60%;
    }

    .banner-title {
        font-size: 2rem;
    }

    .banner-button {
        font-size: 0.9rem;
        padding: 8px 16px;
    }

    .banner-description {
        font-size: 0.9rem;
    }
}
